<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>900</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>descender</key>
    <integer>-220</integer>
    <key>familyName</key>
    <string>Cal Sans UI</string>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2025/10/28 03:49:59</string>
    <key>openTypeHheaAscender</key>
    <integer>900</integer>
    <key>openTypeHheaDescender</key>
    <integer>-220</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameRecords</key>
    <array>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>16</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Cal Sans UI</string>
      </dict>
      <dict>
        <key>encodingID</key>
        <integer>1</integer>
        <key>languageID</key>
        <integer>1033</integer>
        <key>nameID</key>
        <integer>1</integer>
        <key>platformID</key>
        <integer>3</integer>
        <key>string</key>
        <string>Cal Sans UI Medium</string>
      </dict>
    </array>
    <key>openTypeNameSampleText</key>
    <string>Cal.com verified quirky jazz sessions for Monday.</string>
    <key>openTypeNameVersion</key>
    <string>1.001</string>
    <key>openTypeOS2Type</key>
    <array>
      <integer>3</integer>
    </array>
    <key>openTypeOS2TypoAscender</key>
    <integer>900</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-220</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>500</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1140</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>225</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-13</integer>
      <integer>0</integer>
      <real>497.125</real>
      <real>510.125</real>
      <integer>700</integer>
      <integer>713</integer>
      <integer>740</integer>
      <integer>753</integer>
      <integer>900</integer>
      <integer>913</integer>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-233</integer>
      <integer>-220</integer>
      <integer>-233</integer>
      <integer>-220</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <real>104.025</real>
      <real>94.80000000000001</real>
      <real>84.25</real>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <real>110.6</real>
      <real>106.125</real>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Cal Sans UI Medium</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>Medium</string>
    <key>unitsPerEm</key>
    <real>1000.0</real>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>1</integer>
    <key>xHeight</key>
    <real>497.125</real>
  </dict>
</plist>
